<ul>
  <% beers.each do |beer| %>
    <li>
      <a href="/beers/<%= beer.id %>"><%= beer.name %></a>
    </li>
  <% end %>
</ul>

<form action="/beers" method="post">
  <input type="text" name="name"/>
  <input type="submit"/>
</form>
